[submodule "external/bgfx.cmake"]
	path = external/bgfx.cmake
	url = git@github.com:dashandslash/bgfx.cmake.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
