[submodule "external/bgfx.cmake"]
	path = blackboard/external/bgfx.cmake
	url = git@github.com:dashandslash/bgfx.cmake.git
[submodule "external/imgui"]
	path = blackboard/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/SDL"]
	path = blackboard/external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/ImGuiColorTextEdit"]
	path = blackboard/external/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "blackboard/external/ImGuiColorTextEdit"]
	path = blackboard/external/ImGuiColorTextEdit
	url = git@github.com:BalazsJako/ImGuiColorTextEdit.git
[submodule "blackboard/external/SDL"]
	path = blackboard/external/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "blackboard/external/bgfx.cmake"]
	path = blackboard/external/bgfx.cmake
	url = git@github.com:bkaradzic/bgfx.cmake.git
[submodule "blackboard/external/imgui"]
	path = blackboard/external/imgui
	url = git@github.com:ocornut/imgui.git
